.rootContainer {
  background: #333;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
}

@font-face {
  font-family: "Toss Face";
  src: url("/src/assets/font/TossFaceFontMac.ttf") format('truetype');
}
.gridContainer {
  --tile-size: 20px;
  --grid-size: 10;
  --gap: 0px;

  background: #eee;
  aspect-ratio: 1;
  position: relative;

  display: inline-grid;
  grid-template-columns: repeat(calc(var(--grid-size)), var(--tile-size));
  grid-template-rows: repeat(calc(var(--grid-size)), var(--tile-size));
  gap: var(--gap);

  font-size: 2em;
  font-family: 'Noto Color Emoji';
}
