.rootContainer {
  --tile-size: 20px;
  --grid-size: 10;
  --gap: 0px;
  display: flex;
  flex-flow: wrap;
  gap: var(--gap);
  width: calc((var(--tile-size) + var(--gap)) * var(--grid-size));
  aspect-ratio: 1;

  & > div {
    background: #eee;
    width: var(--tile-size);
    aspect-ratio: 1;

    &[data-lit="true"] {
      background: #111;
    }
  }
}
