* {
  margin: 0;
  padding: 0;
}

.rootContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
}

.game {
  width: 390px;
  aspect-ratio: 9 / 16;
  background: tan;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-size: 200%;
  background-position: bottom;
  & > * {
    position: relative;
    z-index: 10;
  }
}

.npc {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -70%;
  z-index: 0;
  & > img {
  }
}

.upper {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: end;
  flex-basis: 60%;
  /* background: lightgray; */
}

.meter {
  width: 20px;
  height: 100%;
  background: gray;
  position: relative;
  overflow: hidden;

  &:after {
    content: "♥";
    display: inline-block;
    background: pink;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--meter-value);
    transition: height 0.1s ease;
  }
}

.textBox {
  background: lightblue;
  border: 2px solid darkblue;
  border-radius: 8px;
  flex: 1;
  padding: 1em;
  display: flex;
  align-items: center;
}

.phoneButton {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 40px;
  border-radius: 100%;
  border: 2px solid hotpink;
  background: pink;
}

.lower {
  padding: 0.5em;
  flex: 1;
}

.gameChoiceList {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style: none;

  & > li {
    user-select: none;
    cursor: none;
    &[data-disabled=true] {
      text-decoration: line-through;
    }
  }
}

.startScreen {
  width: 100%;
  height: 100%;
}

.debug {
  position: absolute;
  top: 0;
  left: 0;
}

.introScreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.choiceButton {
  border: 2px solid hotpink;
  border-radius: 8px;
  background: pink;
  padding: 0.375em;
  transition: 0.1s scale ease;

  &:hover {
    scale: 1.02;
  }
}

.endScreen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 2em;
  font-style: italic;
  text-align: center;
  font-family: "Times New Roman";
  letter-spacing: -1px;
}

.hobbyGame {
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
  padding: 2em;

  & > * {
    cursor: pointer;
    padding: 0.25em;
    background: lightgray;
    border-radius: 100%;
  }
}

.phone {
  height: 100%;

  [data-numpad] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25em;
    width: 70%;
    margin: auto;

    & > button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid hotpink;
      border-radius: 100%;
      background: pink;
      font-size: 2em;
      font-weight: 900;
      font-style: italic;
      text-transform: uppercase;
      &:hover {
        background: hotpink;
      }
    }
  }

  [data-num-entry] {
    display: flex;
    align-items: center;
    padding: 0.125em;
    background: white;
    border: 2px solid blue;
    height: 20px;
    margin-bottom: 10px;
  }
}

.mbti {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
  position: relative;

  & [data-tile] {
    background: lightgreen;
    border: 2px solid darkgreen;
    width: 40px;
    aspect-ratio: 1;

    label {
      display: inline-flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    input {
      position: absolute;
      visibility: hidden;
    }
  }
}
